# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64


# brotlipy==0.7.0

#sphinx<5
#sphinx-comments==0.0.3
#sphinx-design
#sphinx-rtd-theme==0.5.2
sphinx-book-theme

# Testing packages below

sphinx-icon
